body{
    /* font-family: sans-serif; */
    margin: 0;
    padding: 20px;
}
h1 {
    text-align: center;
    color:black;
}
h4 {
text-align: center;
}
#generate-sheet-button{
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;

}
#generate-text-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
textarea{
    max-width: 500px;
    margin-bottom: 10px;
}
#generate-sheet-button, #clear-sheet-button { /* Style both buttons */
    margin: 5px; /* Add some space between the buttons */
 }

 @font-face {
    font-family: 'LibreBarcode128Text';
    src: url('fonts/LibreBarcode128Text-Regular.ttf') format('truetype');
 }

 #barcode-container {
  display: grid;
  grid-template-columns: auto auto auto auto ;
  gap: 50px;
  background-color: #ffffff;
  padding: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: 100%;
  max-width: 100%;
}

 #barcode-container > div { 
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-family: 'LibreBarcode128Text', sans-serif;
  font-size: 60px;
} 

footer {
  text-align: center;
}